/* style.css */

/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5256AD;
}

::selection {
  color: #fff;
  background: #5256AD;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #00b4db, #0083b0);
  padding: 10px 20px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.gradient-text {
  background-image: linear-gradient(to right, #ff4e50, #f9d423);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.tabs {
  display: flex;
}

.tab {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  color: white;
}

.tab:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* Main Container Styles */
.container {
  width: 370px;
  padding: 25px 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.container .heading {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.container form {
  margin: 35px 0 20px;
}

/* Media Query for Mobile Devices */
@media(max-width: 400px) {
  .wrapper {
    max-width: 345px;
    width: 100%;
  }
}
